*{
    padding: 0;
    margin: 0;
}


ul{
list-style-type: none;
/* border: 2px solid #1862a8; */
padding: .5rem;
height: 30px;
color: white;

display: flex;
justify-content: center;
align-items: center;
background-color: #1862a8;


}

li{
border-left: 1px solid rgb(255, 255, 255);
border-right: 1px solid rgb(255, 255, 255);
padding: 13px;
background-color:#1862a8;
font-family: Open Sans,Arial;
padding-left: 2%;
padding-right:2%;

}

li:hover{
    background-color: rgb(12,50,86);



}