*{
padding: 0;
margin: 0;

}

ul{
    /* list-style-type: none;
    border: 3px solid salmon;
    padding: .5rem;
    height: 300px;

    display: flex;

    flex-flow: row nowrap;
    align-items: flex-start; */

    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: Open Sans, Arial;
    background-color: #689ac8;
    border: 0.5px solid white;
    margin: 0 2px;
    

}

li:hover{
    background-color: lightgreen;
    color: indigo;

}

  
.first-class{

    flex-basis: 16%;
    margin: 0.5px;

}

.second-class{
    
    flex-basis: 16%;
    margin: 0.5px;
}

.third-class{
        
    flex-basis: 16%;
    margin: 0.5px;
}

.fourth-class{
            
    flex-basis: 16%;
    margin: 0.5px;
}

.fifth-class{
                
    flex-basis: 16%;
    margin: 0.5px;
}

.sixth-class{
                
    flex-basis: 16%;
    margin: 0.5px;
}