*{
    margin: 0;
    padding: 0;
}


ul{
list-style-type: none;
/* border: 2px solid #1862a8; */
padding: .5rem;
height: 30px;
color: white;

display: flex;
justify-content: center;
align-items: center;
background-color: #1862a8;


}

li{
border-left: 1px solid rgb(255, 255, 255);
border-right: 1px solid rgb(255, 255, 255);
padding: 13px;
background-color:#1862a8;
font-family: Open Sans,Arial;
padding-left: 2%;
padding-right:2%;

}

li:hover{
    background-color: rgb(12,50,86);

}








p{
text-align: center;


}

article{
border: 2px solid springgreen;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
    
}

     div{
display: flex;
flex-flow: row nowrap;
margin-bottom: 1rem;
border: 2px solid orangered;
width: 100%;




}




.Ismail{
border: 2px solid black;
background-color: white;

flex-basis: 100%;
margin: 0 1%;
padding-inline: 50%;
}


.Maria{
    border: 2px solid black;
    background-color: white;

    flex-basis:100%;
    margin: 0 1%;
    padding-inline: 50%;



}

.Liam{
    border: 2px solid black;
    background-color: white;
    flex-basis: 10%;
    margin: 0 1%;
    padding-inline: 1px;


}

.Isaac{
    border: 2px solid black;
    background-color: white;
    
    flex-basis: 15%;
    margin: 0 1%;


}

.Noah{
    border: 2px solid black;
    background-color: white;
    
    flex-basis: 50%;
    margin: 0 1%;




}